{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image" href="/static/splash.jpg" >
</head>
<body class="register">
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}"> 
     
    <div class="user">
        {% if request.user.is_authenticated %}
        <a class="buttonRegister" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="buttonRegister" href="{% url 'login' %}">login</a>
        {% endif %}   
        <p class="name">GYM:{{ request.user }}</p>
        <a class="buttonRegister" href="{% url 'membership_list' %}">Members</a>          
    </div>
    <div class="add-list">
        <a class="add" href="{% url 'membership_create' %}">&#43;</a>     
    </div>   
</body>
</html>