*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 30px;
    margin: 0%;
}
.main{
    display: flex;
}
    /* home */
.register{
    font-family: arial;
}
.name{
    text-align: center;
    font-size: larger;
    margin-left: 279px;
    margin-right: 301px;
    font-size: 50px;
}
.add-list{
text-align: center;
margin-top: 200px;
margin-right: 10px;
}
.user{
    display: flex;
    font-size: large;
    text-align: center;
}
.buttonRegister{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
}
.buttonRegister:hover{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
}
.buttonRegister:active{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
}
.add{
    background-color: red;
    color: whitesmoke;
    font-size: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 40px;
}
.add:hover{
    background-color: red;
    color: black;
    font-size: 30px;
    border-radius: 50%;
    text-decoration: none;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 40px;
}
    /* end */
    /* Add member */
.body-AddMember{
    font-family: arial;
    margin: 0%;
}
.add-form{
    text-align: center;
}
.added{
    text-align: center;
    font-size: 30px;
    background-color: red;
    color: whitesmoke;
    margin-top: 10px;
    border-radius: 4px;
    border-color: red;
}
.added:hover{
    text-align: center;
    font-size: 30px;
    background-color: red;
    color: black;
    margin-top: 10px;
    border-radius: 4px;
    border-color: red;
}
.request{
    font-size: larger;
    margin-left: 327px;
}
.py-form{
    width: auto;
    height: auto;
}
.MC-user{
    display: flex;
}
    /* end */
.gym{
    background-color: rgb(238, 255, 255);
} 
        /* list */
.br{
margin-bottom: 5px;
}
.info{
    background-color: red;
    color: whitesmoke;
    border: 1px solid red;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: larger;
    padding: 5px;
} 
.infoex{
    background-color: red;
    color: whitesmoke;
    border: 1px solid red;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: larger;
    padding: 5px;
}
.infoex:hover{
    background-color: red;
    color: black;
    border: 1px solid red;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: larger;
    padding: 5px;
}
.memberInfo{
    background-color: rgb(176, 176, 176);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: larger;
    padding: 5px;
}
.info:hover{
    background-color: red;
    color: black;
    border: 1px solid red;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: larger;
    padding: 5px;
}
.memberInfo:hover{
    background-color: rgb(210, 210, 210);
    color: black;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: larger;
    padding: 5px;
}
.members{
    display: flex;
    font-family: arial;
}
        /* end */
        /* delete */
.DV{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
}
.DV:hover{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
}
.DV:active{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
}
.tables{
    margin-left: 265px;
    margin-top: 0%;
}
.tableA{
    color: whitesmoke;
    font-family: sans-serif;
    text-decoration: none;
}
.tableA:hover{
    color: black;
    font-family: sans-serif;
    text-decoration: none;
}
.tableA:active{
    color: whitesmoke;
    font-family: sans-serif;
    text-decoration: none;
}
.form{
    text-align: center;
    background-color: rgb(210, 210, 210);
    color: black;
    font-family: arial;
    font-size: larger;
    border-radius: 4px;
    margin: 130px;
}
.inputA{
    display: flex;
    margin-left: 400px;
    align-items: center;
}
.deleting{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
    border-color: red;
}
.deleting:hover{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
    border-color: red;
}
.deleting:active{
    background-color: red;
    border-radius: 4px;
    margin: 5px;
    padding: 7px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    height: max-content;
    margin-top: 10px;
    border-color: red;
}
    /* end */
    /* login */
.Lbody{
    font-family: arial;
}    
.Lname{
    text-align: center;
    font-size: 60px;
}
.Lform{
    text-align: center;
}
.Linput{
    background-color: red;
    color: black;
    border-color: red;
    border-radius: 4px;
    font-size: 40px;
}
.Lregister{
    border-radius: 4px;
    background-color: rgb(176, 176, 176);
    color: whitesmoke;
    margin-left: 386px;
    width: 485px;
    padding: 5px;
}
.La{
    color: whitesmoke;
    text-decoration: none;
}
.La:hover{
    color: black;
    text-decoration: underline;
}
.La:active{
    color: whitesmoke;
    text-decoration: none;
}
    /* end */
    /* register */
.Rbody{
    font-family: arial;
}   
.P{
    margin-bottom: 10px;
}

.Rname{
    text-align: center;
    font-size: 60px;
}
.Rform{
    text-align: center;
    margin: 5px;
}
.Rinput{
    background-color: red;
    color: black;
    border-color: red;
    border-radius: 4px;
    font-size: 40px;
}
.Rregister{
    border-radius: 4px;
    background-color: rgb(176, 176, 176);
    color: whitesmoke;
    margin-left: 386px;
    width: 485px;
    padding: 5px;
}
.Ra{
    color: whitesmoke;
    text-decoration: none;
}
.Ra:hover{
    color: black;
    text-decoration: underline;
}
.Ra:active{
    color: whitesmoke;
    text-decoration: none;
}

    /* end */